{% trans_default_domain 'translations' %}
    {% block content %}
        <script type="text/javascript">
        var sortFieldGlobal = "{{ sortingData.0 }}";
        {% if sortingData.1 is defined %}
        var sortingAscetingGlobal = "{{ sortingData.1 }}";
        {% else %}
        var sortingAscetingGlobal = "";
        {% endif %}
        </script>

        {% if pagination is empty %}
            <div class="loader-data__not-found uk-text-center"><img src="{{ asset('bundles/eshopsample/img/sad-icon.png') }}" alt="{{ "NOTHING_FOUND"|trans }}"> {{ "NOTHING_FOUND"|trans }}</div>
        {% else %}
            <div class="cart-wrap uk-width-3-4@m" >
                <div class="cart-block uk-child-width-1-3@m uk-child-width-1-2@s" uk-grid>
                    {% for goods in pagination %}
                        <div>
                            <div class="uk-card uk-card-default uk-card-hover">
                                <div class="uk-card-media-top">
                                    <img src="{{ asset('bundles/eshopsample/img/discount.png') }}" alt="">
                                </div>
                                <div class="uk-padding-small uk-text-center">
                                    <h3 class="cart__prod-name uk-card-title">
                                        <a class="uk-display-block uk-link-reset" href="{{ path("menu_load_item",{'category':categories,'id':goods.id}) }}">
                                            {% if locale == 'en' %}
                                                <span>{{ goods.nameEn }}</span>
                                            {% elseif locale == 'ru' %}
                                                <span>{{ goods.nameRu }}</span>
                                            {% elseif locale == 'ua' %}
                                                <span>{{ goods.nameUa }}</span>
                                            {% else %}
                                                <span>{{ goods.nameBy }}</span>
                                            {% endif %}
                                        </a>
                                    </h3>
                                    <p class="cart__stock">В наявності</p>
                                    <p class="cart-price"><span>{{ dataPriceConvertedList[goods.id].opt|round(2) }}</span> {{ currencyName }}/<span>{{ goods.getMultiply }} шт</span></p>
                                    <button  data-product-id="{{ goods.id }}" class="cart-buy-btn uk-button uk-width-1-1"><img class="cart-buy-btn--icon" src="../img/cart-basket-icon.svg" alt="" uk-svg>Купити</button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="main-content-bottom uk-container uk-width-1-1 uk-margin-top">
                    <div class="uk-text-center">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                    <div id="breadcrumbs-for-clone" class=" uk-margin-top uk-position-bottom-left uk-position-small">
                        <ul class="uk-breadcrumb">
                            <li class="breadcrumb__item"><a href="{{ path("catalog_home") }}">{{ "CATALOG"|trans }}</a></li>
                            {% for bredcrubs in categoriesBredcrubs %}
                                <li class="breadcrumb__item ">
                                    <span class="breadcrumb--arrow"></span>
                                    <a href="{{ bredcrubs.path }}"> {{ bredcrubs.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            </div>
        {% endif %}
    {% endblock %}