{%  extends '@!EshopSample/main.html.twig' %}

{% block content %}
    <div class="start-page-wrap">
        
    </div>
    {# <img src="https://img.7dach.ru/image/600/00/00/71/2014/08/21/37eb2b" />
    <ul>
        {% if app.user %}
            <li>
                <a href="{{ path("logout") }}">{{ "LOGOUT"|trans }}</a>
            </li>
            <li>
                <a href="{{ path("catalog_home") }}">{{ "CATALOG"|trans }}</a>
            </li>
        {% else %}
            <li>
                <a href="{{ path("login") }}">{{ "LOGIN"|trans }}</a>
            </li>
            <li>
                <a href="{{ path("user_registration") }}">{{ "REGISTER"|trans }}</a>
            </li>
        {% endif %}
    </ul>
    <div id="loaded-data">
    </div> #}
{% endblock%}